In [1]:
import pandas as pd
import quandl

In [55]:
df=quandl.get("WIKI/GOOGL")

In [56]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [57]:
df = df[['Adj. Open',  'Adj. High',  'Adj. Low',  'Adj. Close', 'Adj. Volume']]

In [58]:
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100.0

In [59]:
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0

In [60]:
df.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,8.072956,0.324968
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,7.921706,7.227007
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,4.049360,-1.227880
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,7.657099,-5.726357
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,3.886792,1.183658

In [61]:
df = df[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']]
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0
2004-08-20   54.322689  7.921706    7.227007   22834300.0
2004-08-23   54.869377  4.049360   -1.227880   18256100.0
2004-08-24   52.597363  7.657099   -5.726357   15247300.0
2004-08-25   53.164113  3.886792    1.183658    9188600.0

In [62]:
x=df.isna().sum()
x

Adj. Close     0
HL_PCT         0
PCT_change     0
Adj. Volume    0
dtype: int64

In [63]:
import math
forecast_col='Adj. Close'
forecast_out=math.ceil(0.01*len(df))

In [64]:
forecast_out

35

In [65]:
df['Label']=df[forecast_col].shift(-forecast_out)

In [66]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      Label
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0  69.078238
2004-08-20   54.322689  7.921706    7.227007   22834300.0  67.839414
2004-08-23   54.869377  4.049360   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  7.657099   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  3.886792    1.183658    9188600.0  71.219849

In [67]:
df.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume  Label
Date
2018-03-21     1094.00  1.964351    0.130884    1990515.0    NaN
2018-03-22     1053.15  3.254997   -2.487014    3418154.0    NaN
2018-03-23     1026.55  4.082607   -2.360729    2413517.0    NaN
2018-03-26     1054.09  4.619150    0.332191    3272409.0    NaN
2018-03-27     1006.94  6.645878   -5.353887    2940957.0    NaN

In [38]:
df2=df.dropna()
df2.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume    Label
Date
2018-01-30     1177.37  1.139829   -0.029718    1792602.0  1094.00
2018-01-31     1182.22  1.202822   -0.134312    1643877.0  1053.15
2018-02-01     1181.59  1.530988    0.476195    2774967.0  1026.55
2018-02-02     1119.20  1.798606   -0.729098    5798880.0  1054.09
2018-02-05     1068.76  5.450241   -2.893850    3742469.0  1006.94

In [39]:
X=df2[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]
y=df2['Label']

In [40]:
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression

In [41]:
X=preprocessing.scale(X)

In [42]:
X_train,X_test, y_train, y_test=cross_validation.train_test_split(X,y,test_size=0.2)

In [43]:
clf=LinearRegression()

In [44]:
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [45]:
clf.score(X_test,y_test)

0.9785828588788533

## Trying the SVM kernel

In [46]:
clf=svm.SVR()

In [47]:
clf.fit(X_train,y_train)

/home/ayush/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  if self._impl in ['c_svc', 'nu_svc'] and len(self.classes_) == 2:

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [48]:
clf.score(X_test,y_test)

0.8039567999321183

In [49]:
clf=svm.SVR(kernel='poly')

In [50]:
clf.fit(X_train,y_train)

/home/ayush/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  if self._impl in ['c_svc', 'nu_svc'] and len(self.classes_) == 2:

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='poly', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [51]:
clf.score(X_test,y_test)

0.6810461684104782

In [68]:
X=df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]
X.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2018-03-21     1094.00  1.964351    0.130884    1990515.0
2018-03-22     1053.15  3.254997   -2.487014    3418154.0
2018-03-23     1026.55  4.082607   -2.360729    2413517.0
2018-03-26     1054.09  4.619150    0.332191    3272409.0
2018-03-27     1006.94  6.645878   -5.353887    2940957.0

In [69]:
df.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume  Label
Date
2018-03-21     1094.00  1.964351    0.130884    1990515.0    NaN
2018-03-22     1053.15  3.254997   -2.487014    3418154.0    NaN
2018-03-23     1026.55  4.082607   -2.360729    2413517.0    NaN
2018-03-26     1054.09  4.619150    0.332191    3272409.0    NaN
2018-03-27     1006.94  6.645878   -5.353887    2940957.0    NaN

In [84]:
X_lately=X[-forecast_out:]
X_lately.shape

(35, 4)

In [71]:
X_lately.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2018-03-21     1094.00  1.964351    0.130884    1990515.0
2018-03-22     1053.15  3.254997   -2.487014    3418154.0
2018-03-23     1026.55  4.082607   -2.360729    2413517.0
2018-03-26     1054.09  4.619150    0.332191    3272409.0
2018-03-27     1006.94  6.645878   -5.353887    2940957.0

In [72]:
df2=df.dropna()
df2.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume    Label
Date
2018-01-30     1177.37  1.139829   -0.029718    1792602.0  1094.00
2018-01-31     1182.22  1.202822   -0.134312    1643877.0  1053.15
2018-02-01     1181.59  1.530988    0.476195    2774967.0  1026.55
2018-02-02     1119.20  1.798606   -0.729098    5798880.0  1054.09
2018-02-05     1068.76  5.450241   -2.893850    3742469.0  1006.94

In [73]:
X=df2[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]
y=df2['Label']

In [85]:
X=preprocessing.scale(X)
X.shape

(3389, 4)

In [75]:
X_train,X_test, y_train, y_test=cross_validation.train_test_split(X,y,test_size=0.2)

In [76]:
clf=LinearRegression()

In [77]:
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [78]:
clf.score(X_test,y_test)

0.9753914274845783

In [79]:
forecast=clf.predict(X_lately)

In [80]:
forecast

array([-7767934.51726766, -5216091.90626066, -6354326.54886124,
       -9293932.53153422, -5758309.19311523, -3125378.76768423,
       -4102828.22932472, -3616019.4579585 , -3972014.90462171,
       -3268654.48575766, -4080755.9839271 , -2706282.17651846,
       -2375135.63666863, -2919679.94909766, -4231329.88391696,
       -4958993.50729432, -5690724.14698705, -5130133.1564869 ,
       -2809749.18869951, -2240930.57362606, -3030985.84690183,
       -2969306.7083341 , -4167220.3179992 , -4293314.98035581,
       -4300172.85301188, -4091642.16503452, -3208253.68991108,
       -5432999.60180149, -6350288.08746287, -5560594.38770305,
       -4012438.44188466, -7098512.61560183, -4940773.91295547,
       -6784276.77868574, -6082064.27061924])

In [81]:
X_lately=preprocessing.scale(X_lately)

In [82]:
forecast=clf.predict(X_lately)
forecast

array([ 343.93306182,  169.50747907, -144.70263471,   87.5653306 ,
        165.49353783,  167.28825277,  279.68625575,  395.59584378,
        421.93961227,  471.93438151,  533.37871618,  512.20246191,
        625.56146663,  722.22780384,  556.15078577,  471.46226416,
        266.31457175,  347.88082479,  417.62312102,  458.36013016,
        543.35500659,  633.56559182,  825.42936749,  857.39151755,
        692.80040748,  752.35287713,  763.03226367,  659.6037462 ,
        445.02502365,  420.78776601,  411.98952051,  152.70800706,
        -10.19243789,  157.55778626, -137.17941943])