In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('movie_ratings_data_set.csv')

In [4]:
df.head(10)

   user_id  movie_id  value
0        1        28      4
1        1        26      4
2        1         9      4
3        1         1      4
4        1        14      4
5        1        13      5
6        2         2      5
7        2        15      4
8        2         1      5
9        2        21      5

##  Converting the Table into a format to be used by the algorithm

In [15]:
ratings_df=df.pivot_table(df,index='user_id',columns='movie_id',aggfunc='max')

In [16]:
ratings_df.head(10)

         value                                            ...                 \
movie_id    1    2    3    4    5   6   7    8    9    10 ...   25   26   27
user_id                                                   ...
1          4.0  NaN  NaN  NaN  NaN NaN NaN  NaN  4.0  NaN ...  NaN  4.0  NaN
2          5.0  5.0  NaN  NaN  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
3          4.0  4.0  5.0  NaN  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
4          5.0  5.0  NaN  5.0  5.0 NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
5          5.0  NaN  NaN  NaN  NaN NaN NaN  NaN  5.0  NaN ...  NaN  NaN  NaN
6          5.0  5.0  NaN  NaN  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
7          5.0  NaN  NaN  2.0  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
8          4.0  NaN  5.0  NaN  NaN NaN NaN  NaN  NaN  5.0 ...  NaN  NaN  5.0
9          5.0  NaN  5.0  NaN  NaN NaN NaN  NaN  NaN  NaN ...  NaN  NaN  NaN
10         4.0  NaN  4.0  NaN  NaN NaN NaN  4.0  NaN  NaN ...  NaN  NaN  NaN


movie_id   28   29  30   31   32   33   34
user_id
1         4.0  NaN NaN  NaN  NaN  NaN  NaN
2         NaN  NaN NaN  3.0  NaN  NaN  4.0
3         NaN  NaN NaN  NaN  NaN  NaN  NaN
4         NaN  NaN NaN  NaN  NaN  NaN  NaN
5         NaN  3.0 NaN  3.0  2.0  5.0  5.0
6         NaN  NaN NaN  2.0  5.0  4.0  3.0
7         NaN  NaN NaN  NaN  NaN  NaN  4.0
8         5.0  NaN NaN  NaN  NaN  NaN  NaN
9         5.0  4.0 NaN  NaN  NaN  NaN  NaN
10        NaN  5.0 NaN  NaN  NaN  NaN  NaN

[10 rows x 34 columns]

In [7]:
import matrix_factorization_utilities

## Decomposing the final prediction matrix into User and Movie Matrix
Do not use SVD here to decompose the matrix into U & M, since the matrix is too sparse.
Hence we use an iterative algorithm,which can be easily implemented by the following function implementation.
In this randomize the U & M matrix and then find the cost if this U & M matrix would have been multiplied to 
generate the prediction matrix that we already have i.e ratings_df as shown above.

In [8]:
U,M= matrix_factorization_utilities.low_rank_matrix_factorization(ratings_df.as_matrix(),num_features=15, regularization_amount=0.1)

/home/ayush/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Warning: Maximum number of iterations has been exceeded.
         Current function value: 32.504356
         Iterations: 3000
         Function evaluations: 4451
         Gradient evaluations: 4451

In [9]:
predicted_ratings=np.matmul(U ,M)

In [12]:
predicted_ratings[:2]

array([[4.00323662, 3.92104262, 4.15563388, 3.52782373, 3.92025904,
        4.14219913, 2.65573097, 4.06580584, 4.01044775, 3.80475851,
        3.53593204, 3.5608204 , 4.96007835, 3.99934811, 3.26586951,
        3.88543904, 2.39561015, 3.15737814, 4.12556789, 3.40805724,
        4.01187062, 3.60848854, 3.48172569, 3.79830866, 3.79696101,
        3.98455635, 3.3296513 , 3.99053474, 3.4575321 , 3.11174367,
        2.72509167, 3.35988971, 3.03786988, 4.57353097],
       [4.97069119, 4.96796807, 4.44503854, 3.9040812 , 4.83099633,
        4.70677499, 3.39453227, 4.69886383, 4.53083461, 4.83713713,
        3.96356758, 4.06507065, 4.77803396, 4.01290325, 3.99850862,
        4.21782186, 2.52965485, 3.54291421, 4.19974558, 4.39910046,
        4.9939367 , 4.57382853, 3.82207034, 4.73219429, 4.31473477,
        4.49419071, 4.41444106, 4.16247185, 3.46145841, 4.38832835,
        2.99430967, 4.34723503, 4.01331871, 3.99940781]])

In [13]:
predicted_ratings_df=pd.DataFrame(data=predicted_ratings,index=ratings_df.index,columns=ratings_df.columns)

In [14]:
predicted_ratings_df.head(10)

             value                                                    \
movie_id        1         2         3         4         5         6
user_id
1         4.003237  3.921043  4.155634  3.527824  3.920259  4.142199
2         4.970691  4.967968  4.445039  3.904081  4.830996  4.706775
3         4.017224  3.985712  4.955690  4.088505  4.529069  4.271091
4         4.991067  4.987241  4.928631  4.961948  5.010589  4.961787
5         4.980639  4.240250  5.459805  4.372391  5.161551  4.556619
6         4.970687  4.964521  4.167467  3.876496  4.507341  4.541916
7         4.978867  4.184221  4.220230  2.041102  4.145081  4.237771
8         4.033159  4.610126  4.988350  4.092991  4.812459  4.380045
9         4.985846  4.639419  4.999145  4.143679  4.872684  4.668315
10        4.009622  3.985667  4.000591  2.525179  3.924276  4.250625

                                                    ...               \
movie_id        7         8         9         10    ...           25
user_id                                             ...
1         2.655731  4.065806  4.010448  3.804759    ...     3.796961
2         3.394532  4.698864  4.530835  4.837137    ...     4.314735
3         2.818734  4.337572  4.491458  4.367531    ...     4.079995
4         3.945088  5.075985  4.951430  5.017262    ...     4.062884
5         3.146865  4.639152  4.982049  4.918003    ...     4.509593
6         3.556757  4.707428  4.286035  4.623628    ...     4.017686
7         2.827231  4.040972  4.000473  4.115017    ...     4.548218
8         3.455243  4.456625  4.892289  5.002080    ...     4.267237
9         3.408344  4.796900  4.768782  4.763807    ...     4.421358
10        2.778123  4.018306  4.007196  3.902716    ...     3.646314

                                                                      \
movie_id        26        27        28        29        30        31
user_id
1         3.984556  3.329651  3.990535  3.457532  3.111744  2.725092
2         4.494191  4.414441  4.162472  3.461458  4.388328  2.994310
3         4.316607  3.878744  4.474893  3.205670  3.241080  2.235999
4         4.741804  4.502675  4.906579  3.116583  3.413015  2.009426
5         4.723648  3.738377  5.070483  3.017240  3.611853  2.996262
6         4.217825  4.734133  3.836264  3.474632  3.810260  2.010721
7         3.988066  3.797987  3.666256  5.166064  4.449343  4.278607
8         4.697232  4.961235  4.964619  3.399973  3.471287  2.099025
9         4.743488  4.053985  4.974988  3.998280  3.444981  2.611287
10        3.572015  3.898605  3.205559  4.997885  5.332185  2.966323


movie_id        32        33        34
user_id
1         3.359890  3.037870  4.573531
2         4.347235  4.013319  3.999408
3         2.594690  3.442448  4.602355
4         4.223589  4.170307  4.644414
5         2.031797  4.980758  4.987315
6         4.979284  4.001678  3.016651
7         4.519862  4.582051  4.002961
8         3.152368  3.793989  4.453268
9         3.732533  4.461201  4.888791
10        4.665901  3.298289  4.024097

[10 rows x 34 columns]

## If the user is new and have not given any recommendations yet, we can show him products using 3 types:

1.Dont show any recommendation
2.Show the most similar product to what the user is seeing right now
3.Use the average ratings of the product we already have to show him the product with the highest avg rating

## Similar Products

In [17]:
print(M.shape)
print (U.shape)

(15, 34)
(100, 15)

In [18]:
M=np.transpose(M)

In [19]:
## Choose a movie to find similar movies to. Let's find movies similar to movie #5:
movie_id = 5

In [23]:
M[0].shape

(15,)

In [24]:
movies_df=pd.read_csv('movies.csv',index_col='movie_id')

In [25]:
movies_df.head()

                          title                 genre
movie_id
1                 The Sheriff 1  crime drama, western
2          The Big City Judge 1           legal drama
3                 The Sheriff 2  crime drama, western
4         Just a Regular Family               reality
5          The Big City Judge 2           legal drama

In [28]:
#movie_info=movies_df.iloc[4,:]
movie_info=movies_df.loc[movie_id]
movie_info

title    The Big City Judge 2
genre             legal drama
Name: 5, dtype: object

In [29]:
current_movie_features=M[movie_id-1]

In [30]:
difference=M-current_movie_features

In [31]:
absolute_difference=np.abs(difference)

In [32]:
total_difference=np.sum(absolute_difference, axis=1)

In [34]:
total_difference.shape

(34,)

In [35]:
total_difference[0]

4.553066191450949

In [36]:
movies_df['difference_score']=total_difference

In [37]:
movies_df.head(10)

                             title                     genre  difference_score
movie_id
1                    The Sheriff 1      crime drama, western          4.553066
2             The Big City Judge 1               legal drama          5.101510
3                    The Sheriff 2      crime drama, western          4.038071
4            Just a Regular Family                   reality          5.468456
5             The Big City Judge 2               legal drama          0.000000
6                Attack on Earth 1            sci-fi, action          4.147495
7                   The Secret Box  sci-fi, mystery, fantasy          6.706390
8         Sci-Fi Murder Detectives     supernatural, mystery          3.502227
9                      Biker Gangs       crime drama, action          3.521571
10         Surrounded by Zombies 1    horror, zombie fiction          2.775105

In [38]:
sorted_movie_list=movies_df.sort_values('difference_score')

In [39]:
#Five most similar movies

In [40]:
sorted_movie_list.iloc[:5,]

                             title                   genre  difference_score
movie_id
5             The Big City Judge 2             legal drama          0.000000
10         Surrounded by Zombies 1  horror, zombie fiction          2.775105
8         Sci-Fi Murder Detectives   supernatural, mystery          3.502227
9                      Biker Gangs     crime drama, action          3.521571
3                    The Sheriff 2    crime drama, western          4.038071

## Making recommendations

In [41]:
#Enter a user id to get recommendations
user_id_to_search=int(input())

10

In [42]:
#movies previously reviewed by the user
#so that we don't recommend the same movie back
reviewd_movies_df=df[df['user_id']==user_id_to_search]

In [43]:
reviewd_movies_df

    user_id  movie_id  value
61       10         8      4
62       10        29      5
63       10        23      5
64       10         3      4
65       10         1      4
66       10        15      5
67       10        22      4
68       10        13      5

In [44]:
reviewd_movies_df=reviewd_movies_df.join(movies_df,on='movie_id')
reviewd_movies_df

,user_id,movie_id,value,title,genre,difference_score
61,10,8,4,Sci-Fi Murder Detectives,"supernatural, mystery",3.502227
62,10,29,5,Post-Apocalyptia 1,"sci-fi, thriller, mystery",8.914661
63,10,23,5,Trapped in Space,"sci-fi, mystery",9.166727
64,10,3,4,The Sheriff 2,"crime drama, western",4.038071
65,10,1,4,The Sheriff 1,"crime drama, western",4.553066
66,10,15,5,We Will Fight Those Aliens,"sci-fi, action",6.373393
67,10,22,4,Attack on Earth 2,"sci-fi, action",6.480031
68,10,13,5,The Sheriff 3,"crime drama, western",6.983040

In [45]:
user_ratings=predicted_ratings[user_id_to_search-1]

In [47]:
movies_df.head()

                          title                 genre  difference_score
movie_id
1                 The Sheriff 1  crime drama, western          4.553066
2          The Big City Judge 1           legal drama          5.101510
3                 The Sheriff 2  crime drama, western          4.038071
4         Just a Regular Family               reality          5.468456
5          The Big City Judge 2           legal drama          0.000000

In [48]:
movies_df['rating']=user_ratings

In [49]:
movies_df.head()

,title,genre,difference_score,rating
movie_id,,,,
1,The Sheriff 1,"crime drama, western",4.553066,4.009622
2,The Big City Judge 1,legal drama,5.101510,3.985667
3,The Sheriff 2,"crime drama, western",4.038071,4.000591
4,Just a Regular Family,reality,5.468456,2.525179
5,The Big City Judge 2,legal drama,0.000000,3.924276

In [50]:
already_reviewed=reviewd_movies_df['movie_id']

In [51]:
recommended_df=movies_df[movies_df.index.isin(already_reviewed)==False]

In [52]:
recommended_df=recommended_df.sort_values(by=['rating'],ascending=False)

In [54]:
recommended_df.head()

,title,genre,difference_score,rating
movie_id,,,,
30,Post-Apocalyptia 2,"sci-fi, thriller, mystery",8.243759,5.332185
20,Buy My App,comedy,9.024649,5.091326
32,Behind the Scenes,comedy-drama,10.484943,4.665901
19,Fake News about Fake News,"satire, comedy",7.454871,4.530127
6,Attack on Earth 1,"sci-fi, action",4.147495,4.250625

##  Measuring Accuracy of Recommender System

Divide the data into training & testing. Use only the training part to create U & M matrix.
Use the final predicted values thus got to test on the remainder testing set

In [55]:
raw_training_dataset_df=pd.read_csv('movie_ratings_data_set_training.csv')
raw_testing_dataset_df=pd.read_csv('movie_ratings_data_set_testing.csv')

In [56]:
ratings_training_df = pd.pivot_table(raw_training_dataset_df, index='user_id', columns='movie_id', aggfunc=np.max)
ratings_testing_df = pd.pivot_table(raw_testing_dataset_df, index='user_id', columns='movie_id', aggfunc=np.max)

In [57]:
U, M = matrix_factorization_utilities.low_rank_matrix_factorization(ratings_training_df.as_matrix(),
                                                                    num_features=11,
                                                                    regularization_amount=1.1)

/home/ayush/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Optimization terminated successfully.
         Current function value: 315.538580
         Iterations: 1057
         Function evaluations: 1597
         Gradient evaluations: 1597

In [58]:
predicted_ratings =np.matmul(U,M)

In [59]:
rmse_training=matrix_factorization_utilities.RMSE(ratings_training_df.as_matrix(), predicted_ratings)

/home/ayush/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [60]:
rmse_testing = matrix_factorization_utilities.RMSE(ratings_testing_df.as_matrix(),
                                                   predicted_ratings)

/home/ayush/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [61]:
print("Training RMSE: {}".format(rmse_training))
print("Testing RMSE: {}".format(rmse_testing))

Training RMSE: 0.24952555813214913
Testing RMSE: 1.209650257094134

## Using average rating method to show products for new user(Type 3 mentioned above)

In [62]:
raw_dataset_df = pd.read_csv('movie_ratings_data_set.csv')
ratings_df = pd.pivot_table(raw_dataset_df, index='user_id', columns='movie_id', aggfunc=np.max)

In [63]:
normalized_ratings, means = matrix_factorization_utilities.normalize_ratings(ratings_df.as_matrix())

/home/ayush/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [64]:
U, M = matrix_factorization_utilities.low_rank_matrix_factorization(normalized_ratings,
                                                                    num_features=11,
                                                                    regularization_amount=1.1)

Optimization terminated successfully.
         Current function value: 105.620378
         Iterations: 457
         Function evaluations: 681
         Gradient evaluations: 681

In [65]:
predicted_ratings = np.matmul(U, M)

In [66]:
predicted_ratings = predicted_ratings + means

#### Since the matrix decompostion process is time-consuming, pickle the matrix we have found so to use later

In [68]:
import pickle
pickle.dump(U, open("user_features.dat", "wb"))
pickle.dump(M, open("product_features.dat", "wb"))
pickle.dump(predicted_ratings, open("predicted_ratings.dat", "wb" ))
pickle.dump(means, open("means.dat", "wb" ))

In [69]:
means.shape

(34,)

In [70]:
means[0]

4.611111111111111

## Recomm for a new user based on above average rating

In [71]:
means=pickle.load(open('means.dat','rb'))

In [72]:
movies_df = pd.read_csv('movies.csv', index_col='movie_id')

In [73]:
movies_df['rating']=means

In [74]:
movies_df = movies_df.sort_values(by=['rating'], ascending=False)

In [75]:
movies_df.head()

                            title                   genre    rating
movie_id
6               Attack on Earth 1          sci-fi, action  4.900000
10        Surrounded by Zombies 1  horror, zombie fiction  4.882353
3                   The Sheriff 2    crime drama, western  4.818182
12                     Horrorfest                  horror  4.800000
5            The Big City Judge 2             legal drama  4.785714